
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster+Two:ital@1&family=Poppins:wght@500&family=Roboto:wght@500&family=Rokkitt&display=swap");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
:root{
    --color:#125C13;
}


.heading{
    color: var(--color);
    text-align:center ;
    margin: 5%;
    position: relative;
}
.heading::after{
    content: "";
    top: 30%;
    bottom: -10px;
    left: 45%;
    width: 135px;
    position: absolute;
    border-bottom: 2px solid var(--color);
}

.error {
    display: none;
    font-size: 13px;
  }
  .btn {
    background-color: var(--color);
  }
  .secondary-color {
    color: var(--color);
  }